/*-- scss:defaults --*/
$theme: "rbanism" !default;
// Color Palette
$GRAY  :      #DEE2E6 !default;
$ORANGE:      #F9A94B !default;
$PLUM  :      #93278F !default;
$TEAL  :      #00A99D !default;
$DARK-PURPLE: #16205F !default;

$TEXT-COLOR: $DARK-PURPLE;
$LINK-COLOR: $PLUM;

// Headings & Fonts
@font-face {
    font-family: 'Montserrat';
    src:         'https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap';
}

@font-face {
    font-family: 'Inconsolata';
    src:         url('assets/fonts/inconsolata_variableweight-width.ttf');
}

$font-family-sans-serif: 'Montserrat' , sans-serif !default;
$font-family-monospace:  'Inconsolata', monospace  !default;

$h1-font-size: 64px !default;
$h2-font-size: 46px !default;
$h3-font-size: 28px !default;
$h4-font-size: 22px !default;
$h5-font-size: 22px !default;

$bold: 700 !default;
$semibold: 600 !default;

/*-- scss:rules --*/
//Colors
*, a, a:hover, {
  color: $TEXT-COLOR;
}

// Headings & Fonts
h1 {
  font-weight: $bold;
}

h2, h3, h4, h5 {
  font-weight: $semibold;
  border-bottom: 0;
}
.card-subtitle {
  
  font-size: 18px;
}
.quarto-grid-item .card-subtitle{
  padding-top: 30px;
}
.card-text{
    font-family: Inconsolata;
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}
footer, p {
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 400;
}
// Buttons
.btn {
  &-primary {
    border-color: shade-color($primary, 10%);
  }
  
  &-secondary {
    border-color: shade-color($secondary, 10%);
  }

}

// Navigation Bar
.navbar-logo {
  max-height: 46px;
}
.navbar {
  background-color: white;
}

.navbar-title {
  font-family: Montserrat;
  font-weight: $bold;
}

// Items
// Each item is represented by an entry in an unordered list which spans from the right margin of the title to the left
// margin of the search section. The two following blocks center the entries horizontally using the full width of the
// list by emulating a table.
// Source: https://stackoverflow.com/questions/9894176/make-li-fit-the-width-of-the-ul-using-css
.navbar ul {
  width: 100%;
  display: table;
}
.pillar-link-item::marker, .member-registration-form-list-item::marker {
    font-family: Montserrat;
  font-size:$h3-font-size;
  font-weight: $semibold;
  content: "> ";

}
.pillar-link-item p, .member-registration-form-list-item   {
  font-family: Montserrat;
  font-size:$h3-font-size;
  font-weight: $semibold;
}

.navbar ul li {
  display: table-cell;
  width: auto;
  text-align: center;
}

.navbar{
  border-bottom: 1px solid $GRAY;
}

// Page Title
.quarto-title-banner {
  background: black;
  opacity: 0.5;
}

.quarto-title-banner body .page-columns {
  display: block;
}

.quarto-title {
  margin-left: 150px;
  margin-right: 150px;
  width: inherit;
}

.quarto-title * {
  color: white;
  text-align: center;
}

// FIXME - TEXT JUSTIFICATION IS NOT WORKING.
.nav-footer {
  text-align: left;
}

.about-form {
  position: relative;
  top: 0;
  left: 0;
}
.about-form img {
  position: relative;
  top: 0;
  left: 0;
}
iframe {
  
  left: 50%;
  position: absolute;
  top: 50px;
  
}
.core-team ul {
  display: table;
  width:100%;
  
}
.core-team ul li {
  display:table-cell;
  
  padding:30px;
  text-align: center;
  width:auto;
  
}
.core-team div {
  
  box-shadow: 5px 5px 10px black;
  padding:15px;
}


// FIXME - TEXT JUSTIFICATION IS NOT WORKING.
// Add a top border to the copyright disclaimer.
.nav-footer-left span:last-of-type {
  border-top: 1px solid $GRAY;
  display: block;
}